.bio {
  /* padding-top: 7rem; */
  text-align: left;
  width: 60%;
}
.biotext {
  padding: 0 6rem;
}
.bio h2 {
  font-family: "Inter", sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 4.3rem;
  letter-spacing: -0.03em;
  color: #171717;
}
.bio h5 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 450;
  line-height: 2rem;
  font-variation-settings: "slnt" 0;
  color: var(--neutral-700, #3d3d3d);
}
.bio img {
  border-radius: var(--12);
  border: 1px 0px 0px 0px;
  opacity: 0px;
  /* justify-self: center; */
  display: block;
  max-width: 100%;
}
.bio figcaption {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 15.6px;
  color: var(--neutral-600, #525252);
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 15rem;
}
.blog-post {
  margin-bottom: 2rem;
  width: 50%;
  text-align: left;
}
.date-tag span {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  text-align: left;
  color: var(--gray-600, #525252);
  /* padding-bottom: 4rem; */
}
.article {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
}
.article h3 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: var(--gray-800, #262626);
}
.article img {
  /* width: 163px;
height: 105px; */
  /* gap: 0px; */
  border-radius: var(--12);
  border: 1px 0px 0px 0px;
  opacity: 0px;
  /* border: 1px solid var(--gray-200, #E5E5E5) */
}
button {
  border: none;
  background: none;
}
.viewmore {
  margin-top: 5rem;
  width: 20%;
  padding: 5px 0;
  /* text-decoration: none; */
  border-radius: 8px;
  border: 1px solid var(--gray-200, #e5e5e5);
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  color: var(--gray-700, #3d3d3d);
  background-color: #F5F5F5;
}
